# docker compose / EC2 배포용 (루트에 .env 로 복사)
MONGO_PASSWORD=your_atlas_password
PASS_PHRASE=your_jwt_passphrase
PUBLIC_SERVER_URL=http://YOUR_SERVER_IP:4000
SERVER_ADDRESS=YOUR_SERVER_IP
PIXABAY_API_KEY=
